.nav_contents{
    position: fixed;
    width:100%;
    height: 70px;
    display:flex;
    top:0;
    padding : 20px;

}

.logo{
    position: fixed;
    left: 20px;
    width: 60px;
    padding-bottom: 10px;

}

.avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    padding-bottom: 10px;
}


.nav_black{
    background-color: #111;
}